# nginx proxy address - http://172.17.0.1:60236

name: komodo
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  core:
    image: ghcr.io/mbecker20/komodo:latest
    container_name: komodo-core
    domainname: ${BASE_DOMAIN_NAME:-docker.test}
    hostname: ${BASE_HOST_NAME:-komodo.docker.test}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      KOMODO_TITLE: ${APP_ORG_NAME:-Komodo}
      KOMODO_HOST: ${BASE_HOST_NAME:-$HOSTNAME}
      KOMODO_DISABLE_CONFIRM_DIALOG: false
      KOMODO_MONITORING_INTERVAL: "15-sec"
      KOMODO_RESOURCE_POLL_INTERVAL: "5-min"
      KOMODO_JWT_TTL: "1-day"
      KOMODO_JWT_SECRET: ${APP_JWT_TOKEN:-NzBzctt2wJ90A3z6DeCD8PrHRlaaqQKp}
      KOMODO_WEBHOOK_SECRET: ${RPC_SECRET:-HEs5yofR2K51EsfM8z1XBOl4JykIox1k}
      KOMODO_LOCAL_AUTH: true
      KOMODO_ENABLE_NEW_USERS: false
      KOMODO_DISABLE_USER_REGISTRATION: false
      KOMODO_DISABLE_NON_ADMIN_CREATE: false
      KOMODO_TRANSPARENT_MODE: false
      KOMODO_OIDC_ENABLED: false
      KOMODO_GITHUB_OAUTH_ENABLED: false
      KOMODO_GOOGLE_OAUTH_ENABLED: false
      KOMODO_DATABASE_ADDRESS: komodo-db:27017
      KOMODO_DATABASE_PASSWORD: ${DB_ADMIN_PASS:-changeme_admin_password}
      KOMODO_FIRST_SERVER: https://periphery:8120
    ports:
      - '172.17.0.1:60236:9120'
    volumes:
      - './rootfs/data/komodo/repo-syncs:/syncs'
      - './rootfs/data/komodo/repo-cache:/repo-cache'
    depends_on:
      db:
        condition: service_healthy
    networks:
      - komodo
      komodo.skip: true

  ## Deploy Periphery container using this block,
  ## or deploy the Periphery binary with systemd using
  ## https://github.com/mbecker20/komodo/tree/main/scripts
  periphery:
    image: ghcr.io/mbecker20/periphery:latest
    container_name: komodo-periphery
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      PERIPHERY_SSL_ENABLED: true
      PERIPHERY_DISABLE_TERMINALS: false
      PERIPHERY_ROOT_DIRECTORY: /etc/komodo
      PERIPHERY_PASSKEYS: ${APP_SECRET_KEY:-changeme_passkey}
    volumes:
      - '/proc:/proc'
      - './rootfs/config/komodo/repos:/etc/komodo'
      - './rootfs/data/komodo/repos:/etc/komodo/repos'
      - './rootfs/data/komodo/stacks:/etc/komodo/stacks'
      - '/var/run/docker.sock:/var/run/docker.sock'
    networks:
      - komodo
      komodo.skip: true

  db:
    image: mongo:latest
    container_name: komodo-db
    restart: always
    pull_policy: always
    logging: *default-logging
    command: --quiet --wiredTigerCacheSizeGB 0.25
    environment:
      TZ: ${TZ:-America/New_York}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_ADMIN_PASS:-changeme_admin_password}
    volumes:
      - './rootfs/db/mongo/komodo:/data'
    healthcheck:
      test: echo 'db.stats().ok' | mongo localhost:27017/test --quiet||exit 1
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      - komodo
      komodo.skip: true

networks:
  komodo:
    name: komodo
    external: false
